/* * {
  transition: 0.5s;
} */

body {
  background-color: #242730;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

h1 {
  text-align: center;
}

.main-background {
  background-image: url("./Assets/Images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;

}

.child-container {
  display: flex;
  backdrop-filter: blur(10px);
}

.child-right,
.child-left {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.child-right {
  width: 50%;
  height: 100vh;
  color: white;
}

.child-left {
  width: 50%;
  color: #fff;
  height: 100vh;
  background-color: #0000007e;
}

.home-container p {
  text-align: justify;
  font-size: 22px;
  width: 90%;
  line-height: 2;
}

.home-container .link {
  background-color: #de2556;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.5s;
}

.home-container .link:after {
  content: '';
  position: absolute;
  border: 1px solid #fff;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition: 0.5s;
}

.home-container .link:focus {
  outline: 0;
}

.home-container .link:hover:after {
  bottom: 2px;
  left: 2px;
}

.home-container .link:hover {
  color: #000;
}

.home-container svg {
  margin: 0 8px 0 0;
}

@media (min-width: 768px) {
  .home-container button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-status {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.board-item {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
  cursor: pointer;
  position: relative;

  font-weight: 1000;
  color: #fff;
  font-size: 22px;
}

.blur {
  backdrop-filter: blur(100px);
  width: 100%;
}

.tile {
  color: currentColor;
  font-size: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  border-radius: 100%;
  border: 10px solid #de2556;
}

.right-border {
  border: 10px solid #de2556;
}

.bottom-border {
  border: 10px solid #de2556;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.4;
}

.o-hover:hover::after {
  content: "O";
  opacity: 0.4;
}

.strike {
  position: absolute;
  background-color: darkorange;
}

.strike-row-1 {
  width: 100%;
  height: 4px;
  top: 15%;
}

.strike-row-2 {
  width: 100%;
  height: 4px;
  top: 48%;
}

.strike-row-3 {
  width: 100%;
  height: 4px;
  top: 83%;
}

.strike-column-1 {
  height: 100%;
  width: 4px;
  left: 15%;
}

.strike-column-2 {
  height: 100%;
  width: 4px;
  left: 48%;
}

.strike-column-3 {
  height: 100%;
  width: 4px;
  left: 83%;
}

.strike-diagonal-1 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 5%;
  transform: skewY(45deg);
}

.strike-diagonal-2 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 5%;
  transform: skewY(-45deg);
}

.game-over {
  text-align: center;
  border: #5468ff 8px;
  border-style: dotted;
  padding: 10px;
  margin-top: 50px;
  font-size: 1.5em;
}

.reset-button {
  margin-top: 50px;
  padding: 20px;
  background-color: #0074a6;
  color: white;
  width: 100%;
  font-size: 1.5em;
}



/* Setting Page */

.setting-container {
  display: flex;
  background: url(./Assets/Images/01bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.modal-container {
  align-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-inner {
  background-color: #f5f5f5;
  background-color: var(--todo-form);
  border-radius: 1rem;
  box-shadow: 3px 3px 20px #00000091;
  box-shadow: 3px 3px 20px var(--shadow);
  color: #f5f5f5;
  max-width: 640px;
  padding: 15px;
  position: relative;
  width: 360px;
  width: var(--main-width-inner);
}
