/* * {
  transition: 0.5s;
} */

::-webkit-scrollbar {
  width: 7px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #fd7398;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #c8c8c8;
  border-radius: 2px;
  cursor: pointer;
}


body {
  background-color: #242730;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.main-background {
  background-image: url("./Assets/Images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;

}

.child-container {
  display: flex;
  backdrop-filter: blur(10px);
}

.child-right,
.child-left {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.child-right {
  width: 50%;
  height: 100vh;
  color: white;
}

.child-left {
  width: 50%;
  color: #fff;
  height: 100vh;
  background-color: #0000007e;
}

.home-container p {
  text-align: justify;
  font-size: 22px;
  width: 90%;
  line-height: 2;
}

.home-container .link {
  background-color: #de2556;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  margin: 1rem 0 0 0;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.5s;
}

.home-container .link:after {
  content: '';
  position: absolute;
  border: 1px solid #fff;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition: 0.5s;
}

.home-container .link:focus {
  outline: 0;
}

.home-container .link:hover:after {
  bottom: 2px;
  left: 2px;
}

.home-container .link:hover {
  color: #000;
}

.home-container svg,
.game-container svg,
.setting-container svg {
  margin: 0 8px 0 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .home-container button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-item {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
  cursor: pointer;
  position: relative;

  font-weight: 1000;
  color: #fff;
  font-size: 22px;
}

.blur {
  backdrop-filter: blur(100px);
  width: 100%;
}

.tile {
  color: currentColor;
  font-size: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  border-radius: 100%;
  border: 10px solid #de2556;
}

.right-border {
  border: 10px solid #de2556;
}

.bottom-border {
  border: 10px solid #de2556;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.4;
}

.o-hover:hover::after {
  content: "O";
  opacity: 0.4;
}

.strike {
  position: absolute;
  background-color: #000;
}

.strike-row-1 {
  width: 100%;
  height: 4px;
  top: 16.5%;
}

.strike-row-2 {
  width: 100%;
  height: 4px;
  top: 50%;
}

.strike-row-3 {
  width: 100%;
  height: 4px;
  top: 83%;
}

.strike-column-1 {
  height: 100%;
  width: 4px;
  left: 16.5%;
}

.strike-column-2 {
  height: 100%;
  width: 4px;
  left: 48%;
}

.strike-column-3 {
  height: 100%;
  width: 4px;
  left: 83%;
}

.strike-diagonal-1 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 5%;
  transform: skewY(45deg);
}

.strike-diagonal-2 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 5%;
  transform: skewY(-45deg);
}

.tile-gameover {
  position: relative;
  font-weight: 1000;
  font-size: 5rem;
}

.game-over {
  display: flex;
  text-align: center;
  color: #fff;
  padding: 10px;
  background: #1B1C1C;
  border-radius: 1rem;
  margin: 0 2rem;
  width: 450px;
  box-shadow: #1B1C1C 10px 5px 25px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.game-over img {width: 300px;}

.main-btn {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #DE2556;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 20px 15px;
  border-radius: 1rem;
  width: 400px;
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
  cursor: pointer;
  font-weight: 900;
}

/* Game Page */

/* .game-container .link {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #DE2556;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 20px 15px;
  border-radius: 1rem;
  width: 400px;
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
  cursor: pointer;
} */

.game-container .main-btn :active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.game-status {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: flex-start;
}

/* Modal */

.modal-container {
  background-color: #000c;
  align-items: center;
  backdrop-filter: blur(5px);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-inner {
  display: flex;
  border-radius: 1rem;
  color: #f5f5f5;
  padding: 0 8px;
  flex-direction: column;
  align-items: flex-end;
}

.modal-inner svg {
  margin: 1rem 0;
}



/* Setting Page */

.setting-container {
  display: flex;
  background: url(./Assets/Images/01bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.setting-box {
  width: 450px;
  background: #fff;
  color: #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.setting-box h2 {
  text-align: center;
}

/* 404 Container */
.error-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}